<%- include('layouts/header.ejs') %>
    <%- include('layouts/navbar.ejs') %>
    <div class="container" style="padding-top: 5%; padding-left: 10%; padding-right: 10%; font-size: 40px;">
        <div class="row">
          <div class="col-md" style="text-align: cet;">
            Explore Page
          </div>
          <div class="col-md">
          </div>
          <div class="col-md">
          </div>
        </div>
      </div>

      
      <div class="container" style="padding-left: 10%; padding-right: 10%; padding-bottom: 15%;" >
        <div class="row">
          <div class="col-md">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#!" class="btn btn-primary">Button</a>
                </div>
              </div>
          </div>
          <div class="col-md">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#!" class="btn btn-primary">Button</a>
                </div>
              </div>
          </div>
          <div class="col-md">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#!" class="btn btn-primary">Button</a>
                </div>
              </div>
          </div>
        </div>
      </div>
<%- include('layouts/footer.ejs') %>