<%- include('layouts/header.ejs') %>
<div class="bg-image" style="background-image: url('/img/tamusa.png'); height: 100vh;">
    <div class="center">
      <form action="/explorePage">
        <div class="text-Center">
          <h1 style="padding: 7%; ">TAMU-SA Orgs</h1>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="userEmail" class="form-control" />
          <label class="form-label" for="userEmail">User name</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="userPassword" class="form-control" />
          <label class="form-label" for="userPassword">Password</label>
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Sign in</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="/register">Register</a></p>
        </div>
      </form>

    </div>
</div>

<%- include('layouts/footer.ejs') %>
